@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-bitcount: 'Bitcount Grid Double', system-ui;
  --color-primary: #C1292E;
  --color-secondary: #F1D302;
  --color-tertiary: #6B818C;

}

@layer base {
  body {
    @apply bg-[#020100] text-[#FDFFFC];
    font-family: 'Bitcount Grid Double', system-ui;
  }
  
  h1 {
    @apply text-3xl font-bold;
  }
}